@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Inter', sans-serif;
    --red-blue-yellow-gradient: linear-gradient(
            45deg,
            #8B0000,
            #4682B4 /*#DAA834*/
    );
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: 'Inter var', sans-serif;
    }
}

.logo-svg {
}