{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block header %}{% endblock %}

{% block content %}
    <div class="min-h-screen flex items-center justify-center bg-gray-700">
        <div class="text-center text-white">
            <svg class="fill-current p-20" width="2/3" height="2/3" viewBox="0 0 150 150"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M 0,0 L 0,50 37.5,75 0,100 0,150 56.25,112.5 56.25,87.5 75,100 93.75,87.5 93.75,112.5 150,150 150,100 112.5,75 150,50 150,0 75,50"></path>
            </svg>

            <h1 class="text-white text-4xl mb-4">WORK IN PROGRESS</h1>
            <p class="text-white text-xl">Check out my current project <a
                    href="{% url 'chat' %}" class="bg-gray-100 text-gray-700 rounded-md px-1">chatLLM</a>
                for now!
            </p>
        </div>
    </div>
{% endblock %}






