{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block header %}{% endblock %}

{% block content %}
    <div class="min-h-screen flex items-center justify-center bg-gray-700">
        <div class="text-center">
            <h1 class="text-white text-4xl mb-4">WORK IN PROGRESS</h1>
            <p class="text-white text-xl">Check out my current project <a
                    href="{% url 'chat' %}" class="bg-gray-100 text-gray-700 rounded-md px-1">chatLLM</a>
                for now!
            </p>
        </div>
    </div>
{% endblock %}






